​ .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px;
  border-radius: 5px;
  width: 400px;
  height: 85px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid black;
}

.score {
  font-size: 12px;
  margin-top: 5px;
}

.card-title {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-weight: bold;
}

.code {
  margin-top: 5px;
  font-size: 15px;
}

.card-text.short {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}
