.search-area {
  display: flex;
  flex-direction: row;
  /* background-color: pink; */
  align-items: flex-start;
  justify-content: center;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  /* background-color: #1183d6; */
  flex: 1;
}
#zevi-logo {
  padding: 2rem;
  padding-right: 2.4rem;
}
form {
  background-color: white;
  display: flex;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 800px;
  height: 75px;
  border-radius: 20px;
  font-size: 70px;
  /* margin-top: 50px; */
  padding: 0 20px;
}

input[type="search"] {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: large;
  color: inherit;
  border: 1px solid transparent;
  border-radius: none;
  width: 800px;
}

input[type="search"]::placeholder {
  color: #bbb;
}

input[type="button"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-top: 18px;
  margin-left: 15px;
  border: 1px solid transparent;
  border-radius: none;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='60' class='bi bi-search' viewBox='4 -12 10 40'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.8;
  /* background-image: url("search-button.png"); */
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.results-area {
  display: flex;
  flex-direction: row;
}

.search-filters {
  width: 15vw;
  background-color: #1183d6;
  height: available;
  padding-left: 40px;
}

.search-results {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
